.csit-land{
    position: relative;
    top: 60px;
    width: 100%;
    
}
.csit-main{
    width: auto;
    margin-left: 32px;
    margin-right: 32px;

    display: grid;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    gap: 8px;
}

.csit-box{
    position: relative;
    
    margin-top: 16px;
    margin-left: 0px;
    height: auto;
    background-color: rgba(216, 216, 216,0.5);
    box-shadow: 0px 0px 2px rgb(128, 128, 128);
    border-radius: 5px;
    text-align: center;
}

.header-text{
    width: 100%;
    
  margin-top: 3px;
  
}

.subjects{
    margin-top: 12px;
    text-align: left;
  
    border-radius: 0px 0px 5px 5px;
    
}
.subjects>ul{
    padding-bottom: 16px;
    padding-left: 0px;

}
.subjects>ul>li{
  
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: 2px solid #000;
    font-size: 12px;
    
}
.subjects>ul>li>a{
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 0px;
    

}
.subjects>ul>li:hover{
    background-color: rgb(45, 85, 160);
}
.subjects>ul>li:hover>a{
    color: #fff;
}
.sub-main{
    display: none;
    position: relative;
    top: 8px;
    left: -40px;
    
}
.sub-main>li{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(216, 216, 216,1);
    border-bottom: 1px solid #000;
    margin-right: -40px;
    font-size: 10px;
   
}
.sub-main>li:hover{
    background-color: rgb(93, 194, 194);
}
.sub-main>li>a{
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.subjects>ul>li:hover .sub-main{
    display: block;
}
.old-main{
    display: none;
    position: relative;
    top: 5px;
    left: 0px;
    background-color: rgba(216, 216, 216,1);

}

.old-main>li{
    margin-left: -40px;
     border-bottom: 1px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;

}

.old-main>li:hover{
    background-color: rgb(32, 204, 161);
}

.old-main>li>a{
    padding-left: 32px;
    padding-right: 180px;
}

.sub-main>li:hover .old-main{
    display: block;
}
@media screen and (min-width:240px) and (max-width:540px) {
    .csit-main{
        grid-template-columns: auto;
        width: 84vw;
        margin-left: 23px;
    
    }
    .csit-box{
        width: 88vw;
        margin-left: 0px;
    }
    .subjects>ul>li{
    padding-left: 0px;
    }
}